[FASHION]
NUM_EPOCHS = 20
NUM_CLASSES = 19
BATCH_SIZE = 64
SNAPSHOT_STEPS = 500
VALIDATION_STEPS = 100
LEARNING_RATE = 0.001
SNAPSHOT_DIR = /home/vision/smb-datasets/FASHION/Classification/convnet2/snapshots_1/
DATA_DIR = /home/vision/smb-datasets/FASHION/Classification/convnet2
CHANNELS = 3
IMAGE_WIDTH = 224
IMAGE_HEIGHT = 224
USE_MULTITHREADS = True
NUM_THREADS = 8
CKPFILE = /home/vision/smb-datasets/ILSVRC/convnet2/snapshots_1/chk_sample
